<mat-card>
  <mat-card-header>
    <mat-card-title>选择笔记同步位置</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tree
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      class="example-tree"
    >
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <div (click)="selectSection(node)">
          {{ node.name }}
        </div>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
          </button>
          {{ node.name }}
        </div>
        <div
          [class.example-tree-invisible]="!treeControl.isExpanded(node)"
          role="group"
        >
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button color="primary" (click)="confirm()">确认选择</button>
  </mat-card-footer>
</mat-card>
